spring:
  application:
    name: user-management-app

  datasource:
    url: jdbc:postgresql://localhost:5432/usermanagement
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver

    hikari:
      pool-name: HikariCP
      maximum-pool-size: 10
      minimum-idle: 5
      idle-timeout: 30000 # 30 seconds
      max-lifetime: 1800000 # 30 minutes
      connection-timeout: 30000 # 30 seconds

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none # mandatory for Liquibase
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml

server:
  port: 8080
  servlet:
    context-path: /api/v1

logging:
  level:
    liquibase: info
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

security:
  jwt:
    secret: ThgwpUKBr18W7FNFeGJ9mONwg52FNfh2Q0lbrABhv+0=
    access-token-expiration: 900000 # 15 mins = 1000 * 60 * 15
    refresh-token-expiration: 604800000 # 7 days = 7 * 24 * 60 * 60 * 1000

springdoc:
  swagger-ui:
    operations-sorter: method
    tags-sorter: alpha
    display-request-duration: true
  api-docs:
    enabled: true
    path: /v3/api-docs

