spring:
  application:
    name: user-management-app

  datasource:
    url: jdbc:postgresql://localhost:5432/usermanagement
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver

    hikari:
      pool-name: HikariCP
      maximum-pool-size: 10
      minimum-idle: 5
      idle-timeout: 30000
      max-lifetime: 1800000
      connection-timeout: 30000

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080
  servlet:
    context-path: /api/v1

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

security:
  jwt:
    secret: ThgwpUKBr18W7FNFeGJ9mONwg52FNfh2Q0lbrABhv+0=
    access-token-expiration: 900000 # 15 mins
    refresh-token-expiration: 604800000 # 7 days

#springdoc:
#  swagger-ui:
#    operations-sorter: method
#    tags-sorter: alpha
#    display-request-duration: true

